<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Timeclock.Properties.Settings.timeclockConnectionString"
      connectionString="server=localhost;user id=root;password=6716;database=timeclock"
      providerName="MySql.Data.MySqlClient" />
    <add name="Timeclock.Properties.Settings.timeclockConnectionString2"
      connectionString="server=localhost;user id=root;password=6716;persistsecurityinfo=True;database=timeclock"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
